<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyh.student.mapper.GradeMapper">
    <!-- 查询所有的班级信息 -->
    <select id="selectAll" resultType="com.yyh.student.entity.Grade">
		select * from grade
	</select>

    <select id="selectGradeById" parameterType="Integer" resultType="com.yyh.student.entity.Grade">
		select * from grade where id=#{grade_id}
	</select>

    <!-- 添加班级-->
    <insert id="addGrade" parameterType="com.yyh.student.entity.Grade">
		insert into grade(id,gno,department,total)
		values(#{id},#{gno},#{department},0)
	</insert>

    <!--删除班级信息-->
    <delete id="deleteGrade" parameterType="Integer">
        delete from grade where id=#{id}
    </delete>

    <!--修改班级信息-->
    <update id="updateGradeById" parameterType="com.yyh.student.entity.Grade">
        update grade set gno=#{gno},department=#{department} where id=#{id}
    </update>

    <!--添加学生后total+1-->
    <update id="updateGradeTotal" parameterType="Integer">
        update grade set total=total+1 where id=#{id}
    </update>

    <!--删除学生后total-1-->
    <update id="updateGradeTotal2" parameterType="Integer">
        update grade set total=total-1 where id=#{id}
    </update>
</mapper>